@import 'src/scss/colors';
.supplements {
    text-align: center;
    
}
.card {
   // display: inline-block;
    width: 15rem;
    height:380px;
    border: none;
}
.card-title {
    color: $blue;
    font-size: 20px;
    text-align: center;
}
.card-group {
    padding-left: 20px;
}
.card-body {
    p {
        height: 30px;
        overflow: hidden;
        font-size: 16px;
        text-align: center;
        color: brown
    }
}
.btn {
margin-left: 60px;
}
.card-img-top {
    height: 200px;
}