$blue-dark:#026b8f;
$blue:#2195cf;
$blue-1x:#5495ad;

$light-grey-on-white:#f0f0f0;
$grey-1x:#dddddd;
$grey-2x: #b7b5b5;
$grey-extra-light: #b5b5b5;
$grey: #666666;
$grey-light: #707073;
$grey-dark:#474548;
$grey-extra-dark: #474548;
$green-light:#71af4f;
$green-semi-light:#70af50;
$blue-extra-dark:#006a91;